<html lang="en">
<head>
  <meta charset="utf-8">
  <title>URL Shortener</title>
</head>

<body>
<h1>Welcome to ShortyShort</h1> 
<h2>Shortyshort is a URL shortener microservice built as a FreeCodeCamp backend dev challange.</h2>
<p>Here is what this thing should do:</p>
<ol>
    <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
    <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
    <li>When I visit that shortened URL, it will redirect me to my original link.</li>
</ol>
<p>Adding a URL: https://shortyshort.herokuapp.com/new/{your url goes here}</p>
</body>
</html>